@page "/InvestigatorsProjects"
@using Investigation.Shared.Entities
@using Investigation.WEB.Repositories
@using Investigation.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> InvestigatorsProjects
            <a class="btn btn-primary btn-sm float-end" href="/InvestigatorsProjects/create"><i class="bi bi-plus-circle" />New Relationship</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="InvestigatorsProjects">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in InvestigatorsProjects!)
                        {
                            <tr>
                                <td> @item.Id</td>
                                <td> @GetInvestigatorName(item.InvestigatorId)</td>
                                <td> @GetProjectName(item.ProjectId)</td>
                                

                                <td>
                                    <a href="/InvestigatorsProjects/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<InvestigatorProject> InvestigatorsProjects { get; set; }
    public List<Investigator> Investigators { get; set; }
    public List<Project> Projects { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<InvestigatorProject>>("api/InvestigatorsProjects");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        InvestigatorsProjects = responseHttp.Response;

         var responseInvestigators = await repository.GetAsync<List<Investigator>>("api/Investigators");
        if (!responseInvestigators.Error)
        {
             Investigators = responseInvestigators.Response;
         }

        var responseProjects = await repository.GetAsync<List<Project>>("api/Projects");
        if (!responseProjects.Error)
        {
            Projects = responseProjects.Response;
        }
    }

    private string GetInvestigatorName(int investigatorId)
    {
        var investigator = Investigators.FirstOrDefault(i => i.Id == investigatorId);
        return investigator != null ? investigator.Nombre : "Investigador no encontrado";
    }

    private string GetProjectName(int projectId)
    {
        var project = Projects.FirstOrDefault(i => i.Id == projectId);
        return project != null ? project.Nombre : "Proyecto no encontrado";
    }



    private async Task DeleteAsycn(InvestigatorProject investigatorproject)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar la relación entre el investigador de Id {investigatorproject.InvestigatorId} y proyecto de Id {investigatorproject.ProjectId}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<InvestigatorProject>($"api/InvestigatorsProjects/{investigatorproject.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("InvestigatorsProjects");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}