@page "/InvestigatorsProjects/edit/{Id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (investigatorproject is null)
{
    <p>Cargando...</p>
}
else
{
    <InvestigatorProjectForm @ref="investigatorprojectForm" InvestigatorProject="investigatorproject" OnSubmit="Editar" ReturnAction="Return" />

}

@code {
    [Parameter]
    public int Id { get; set; }
    private InvestigatorProject investigatorproject;
    private InvestigatorProjectForm investigatorprojectForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<InvestigatorProject>($"api/InvestigatorsProjects/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/InvestigatorsProjects");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            investigatorproject = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/InvestigatorsProjects", investigatorproject);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        investigatorprojectForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/InvestigatorsProjects");
    }

}