@page "/Investigators/create"
@inject IRepository repository 
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>InvestigatorCreate</h3>
<InvestigatorForm @ref="investigatorForm" Investigator="investigator" OnSubmit="Create" ReturnAction="Return" />



@code {
    private Investigator investigator = new();
    private InvestigatorForm investigatorForm;



    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/Investigators", investigator);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000




        });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {




        investigatorForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Investigators");




    }


}