﻿@using Investigation.Shared.Entities
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>


<EditForm EditContext="editContext" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="Investigator.Nombre" />
            <ValidationMessage For="@(()=>Investigator.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Cedula:</label>
        <div>
            <InputNumber @bind-Value="Investigator.Cedula" />
            <ValidationMessage For="@(()=>Investigator.Cedula)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Afiliación:</label>
        <div>
            <InputText class="form-control" @bind-Value="Investigator.Afiliacion" />
            <ValidationMessage For="@(()=>Investigator.Afiliacion)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Especialidad:</label>
        <div>
            <InputText class="form-control" @bind-Value="Investigator.Especialidad" />
            <ValidationMessage For="@(()=>Investigator.Especialidad)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>


@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Investigator);
    }

    [EditorRequired]
    [Parameter]

    public Investigator Investigator { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }

}