﻿@using Investigation.Shared.Entities
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>


<EditForm EditContext="editContext" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Título:</label>
        <div>
            <InputText class="form-control" @bind-Value="Publication.Titulo" />
            <ValidationMessage For="@(()=>Publication.Titulo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Autor:</label>
        <div>
            <InputText class="form-control" @bind-Value="Publication.Autor" />
            <ValidationMessage For="@(()=>Publication.Autor)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Project Id:</label>
        <div>
            <InputNumber @bind-Value="Publication.ProjectId" />
            <ValidationMessage For="@(()=>Publication.ProjectId)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha de Publicación:</label>
        <div>
            <InputDate @bind-Value="Publication.FechaPublicacion" />
            <ValidationMessage For="@(()=>Publication.FechaPublicacion)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>


@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Publication);
    }

    [EditorRequired]
    [Parameter]

    public Publication Publication { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }

}