@page "/Publications/create"
@inject IRepository repository 
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>ActivityCreate</h3>
<PublicationForm @ref="publicationForm" Publication="publication" OnSubmit="Create" ReturnAction="Return" />



@code {
    private Publication publication = new();
    private PublicationForm publicationForm;



    private async Task Create()
    {


        var responseHttp = await repository.PostAsync("/api/Publications", publication);
        if (responseHttp.Error)
        {

            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;


        }

        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000




        });


        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {




        publicationForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Publications");




    }


}