@page "/Projects/edit/{Id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (project is null)
{
    <p>Cargando...</p>
}
else
{
    <ProjectForm @ref="projectForm"  Project="project" OnSubmit="Editar" ReturnAction="Return"/>

}

@code {
    [Parameter]
    public int Id { get; set; }
    private Project project;
    private ProjectForm projectForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Project>($"api/Projects/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Projects");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            project = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
         var responseHttp = await repository.PutAsync("/api/Projects", project);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
    await sweetAlertService.FireAsync("Error", message);
            return;
        }

    Return();
    var toast = sweetAlertService.Mixin(new SweetAlertOptions
    {
        Toast = true,
        Position = SweetAlertPosition.BottomEnd,
        ShowConfirmButton = true,
        Timer = 3000
    });
    await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
}

        private void Return()
        {
        projectForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Projects");
        }
   
}