@page "/ActivitiesResources/edit/{Id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (activityResource is null)
{
    <p>Cargando...</p>
}
else
{
    <ActivityResourceForm @ref="activityResourceForm" ActivityResource="activityResource" OnSubmit="Editar" ReturnAction="Return" />

}

@code {
    [Parameter]
    public int Id { get; set; }
    private ActivityResource activityResource;
    private ActivityResourceForm activityResourceForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<ActivityResource>($"api/ActivitiesResources/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/ActivitiesResources");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            activityResource = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/ActivitiesResources", activityResource);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        activityResourceForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/ActivitiesResources");
    }

}