@page "/ActivitiesResources"
@using Investigation.Shared.Entities
@using Investigation.WEB.Repositories
@using Investigation.WEB.Shared
@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person" /> ActivitiesResources
            <a class="btn btn-primary btn-sm float-end" href="/ActivitiesResources/create"><i class="bi bi-plus-circle" />New Relationship</a>

        </span>
    </div>

    <div class="card-body">

        <GenericList MyList="ActivitiesResources">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ActivitiesResources!)
                        {
                            <tr>
                                <td> @item.Id</td>
                                <td> @GetActivityName(item.ActivityId)</td>
                                <td> @GetResourceName(item.ResourceId)</td>


                                <td>
                                    <a href="/ActivitiesResources/edit/@item.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square" /> Editar</a>
                                    <button @onclick=@(() => DeleteAsycn(item)) class="btn btn-sm btn-danger"><i class="bi bi-trash-fill" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>


@code {
    public List<ActivityResource> ActivitiesResources { get; set; }
    public List<Activity> Activities { get; set; }
    public List<Resource> Resources { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<ActivityResource>>("api/ActivitiesResources");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        ActivitiesResources = responseHttp.Response;

        var responseInvestigators = await repository.GetAsync<List<Activity>>("api/Activities");
        if (!responseInvestigators.Error)
        {
            Activities = responseInvestigators.Response;
        }

        var responseProjects = await repository.GetAsync<List<Resource>>("api/Resources");
        if (!responseProjects.Error)
        {
            Resources = responseProjects.Response;
        }
    }

    private string GetActivityName(int activityId)
    {
        var activity = Activities.FirstOrDefault(i => i.Id == activityId);
        return activity != null ? activity.Nombre : "Actividad no encontrado";
    }

    private string GetResourceName(int resourceId)
    {
        var resource = Resources.FirstOrDefault(i => i.Id == resourceId);
        return resource != null ? resource.Nombre : "Recurso no encontrado";
    }



    private async Task DeleteAsycn(ActivityResource activityResource)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Estas seguro de querer borrar la relación entre la actividad de Id {activityResource.ActivityId} y el recurso de Id {activityResource.ResourceId}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
            });
        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.DeleteAsync<ActivityResource>($"api/ActivitiesResources/{activityResource.Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("ActivitiesResources");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}